/* ==UserStyle==
@name           GitHub2GitLab
@namespace      gitlab.com/maxvalue/github2gitlab
@description    Make gitlab.com look like github.com
@author         Max Fuxjäger <publicbetamax+stylus@gmail.com>
@homepageURL  https://gitlab.com/MaxValue/github2gitlab
@supportURL   https://gitlab.com/MaxValue/github2gitlab/issues
@updateURL    https://gitlab.com/MaxValue/github2gitlab/raw/master/github2gitlab.user.styl
@preprocessor stylus
@version        0.1.0
@license      MIT
==/UserStyle== */

@-moz-document domain("gitlab.com") {
    body {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji !important;
        header {
            height: 53px;
            background-color: rgb(36, 41, 46) !important;
            font-size: 14px;
            border-color: rgb(36, 41, 46);
            a {
                font-weight: 600 !important;
            font-size: 14px !important;
                color: rgb(255, 255, 255) !important;
            }
            #logo {
                .logo-text {
                    display: none !important;
                }
            }
            .header-content {
                justify-content: unset !important;
                .title-container {
                    flex: 0 1 auto !important;
                    .navbar-sub-nav {
                        display: none;
                    }
                }
                .navbar-collapse {
                    flex: 1 1 auto !important;
                    .navbar-nav {
                        flex-grow: 1;
                        li:nth-of-type(2) {// Search or jump to...
                            order: 1;
                            .search-form {
                                form {
                                    height: 28px;
                                    background-color: rgba(255, 255, 255, 0.125);
                                    input.search-input {
                                        color: rgba(255, 255, 255, 0.7);
                                    }
                                }
                            }
                        }
                        li:nth-of-type(5) {// Pull requests
                            order: 2;
                            svg {
                                display: none;
                            }
                            & a::after {
                                display: inline-block;
                                content: "Pull requests";
                            }
                        }
                        li:nth-of-type(4) {// Issues
                            order: 3;
                            svg {
                                display: none;
                            }
                            a::after {
                                margin-left: 5px;
                                display: inline-block;
                                content: "Issues";
                            }
                        }
                        li:nth-of-type(6) {// New
                            order: 4;
                            flex-grow: 1;
                            svg {
                                display: none;
                            }
                            a {
                                width: max-content;
                            }
                            a::after {
                                margin-left: 5px;
                                display: inline-block;
                                content: "To-Do List";
                            }
                        }
                        li:nth-of-type(1) {// New
                            order: 5;
                        }
                        li:nth-of-type(8) {// Profile
                            order: 6;
                        }
                        li:nth-of-type(7) {// Help
                            display: none !important;
                        }

                    }
                }
            }
        }
        .content-wrapper {
            margin-top: 53px;
        }
    }
}


/*
fix margin right in header

*/
